body {
    background: lightblue;
  }
  
  p {
    color: orange;
  }
  
  div {
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    padding: 3px;
  }

  .box-model {
    margin: 10px 50px;
    
    padding: 10px;
    border: 20px solid black;
    color: violet;
    background-color: purple;
  }

 .block {
    display: block;
    position: inline;
    text-align: center;
  }

  .in-line {
    display: relative;
  }

  .in-line-block {
    display: inline-block;
  }

  .static {
    position: static;
    top: 100px;
  }

  .relative {
    position: relative;
    left: 40px
  }

  .fixed {
    position: fixed;
    bottom: 0;
    left: 30px;
  }

  .absolute {
    position: relative;
    bottom: 0px;
    left: 50px;
    text-align: center;
  } 

  #fixedME{
    position: inline;
    right: 20px;
    color: magenta;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px dashed green;
    text-align: center;
    padding: 5px 5px 5px 5px;
  }